<section class="d-flex justify-content-end">
	<a class="btn btn-rounded btn-light shadow" href="{{ path(edit_route, {'id': entity_id}) }}" data-mdb-tooltip-init title="Editer">
		<i class="fas fa-pen text-dark"></i>
	</a>
</section>
