{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div>
		<h1>Mon compte</h1>

		{% include "/_partials/section-app-user.html.twig" %}

		<a href="{{ path('app_project_index')}}">
			Aller à la partie projet
		</a>
		<a href="{{ path('app_sample_index')}}">
			Aller à la partie échantillon
		</a>
		<a>Effectuer les tests sur cet échantillon</a>
	</div>
{% endblock %}
