{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>
		<h1>Accueil</h1>

		{% if app.user %}
			{% include "/_partials/_partials_hello.html.twig" %}
		{% else %}
			Pour tester l'app,
			<a href="{{ path('app_login')}}">connectez-vous avec les identifiants :
			</a>
			<ul>
				<li>Email : test@mail.fr</li>
				<li>Mot de passe : motdepasse</li>
			</ul>
		{% endif %}
	</div>
{% endblock %}
