{% extends 'base.html.twig' %}

{% block title %}Equipement
{% endblock %}

{% block body %}
	<h4>
		<i class="fas fa-align-right me-3"></i>
		Liste des équipements
	</h4>

	<section class="mb-4 text-end">
		<a class="btn btn-dark" href="{{ path('app_equipment_new') }}">Créer un nouvel équipement</a>
	</section>

	<div class="container-table">
		<div>
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for equipment in equipment %}
					<div class="col">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">{{ equipment.name }}</h5>
								<p class="card-text text-end">
									{% include '_partials/_partials_table_show.html.twig' with {
								'entity_type': 'equipment',
								'entity_id': equipment.id,
								'show_route': 'app_equipment_show'
							} %}
								</p>
							</div>
						</div>
					</div>
				{% else %}
					<p>Pas d'équipement.</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
