{% extends 'base.html.twig' %}

{% block title %}Nouvel équipement
{% endblock %}

{% block body %}
	<h4 class="text-center">Créer un équipement</h4>

	<div class="container-table">
		{{ include('equipment/_form.html.twig') }}
	</div>
{% endblock %}
