{% extends 'base.html.twig' %}

{% block title %}Resultats
{% endblock %}

{% block body %}
	<h4>
		<i class="fas fa-align-right me-3"></i>
		Liste des résultats
	</h4>

	<section class="mb-4 text-end">
		<a class="btn btn-dark" href="{{ path('app_result_new') }}">Créer un nouveau résultat</a>
	</section>

	<div class="container-table">
		<table class="table">
			<thead>
				<tr>
					<th>Observation</th>
					<th>Test</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for result in results %}
					<tr>
						<td>{{ result.observation }}</td>
						<td>
							{% if  result.test %}
								{{  result.test }}
								<a href="{{ path('app_test_show', {'id': result.test.id}) }}">
									<i class="fas fa-up-right-from-square ms-1"></i>
								</a>
							{% endif %}
						</td>
						<td>
							{% include '_partials/_partials_table_show.html.twig' with {
								'entity_type': 'result',
								'entity_id': result.id,
								'show_route': 'app_result_show'
							} %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Pas de résultat.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
