{% extends 'base.html.twig' %}

{% block title %}Nouveau résultat
{% endblock %}

{% block body %}
	<h4 class="text-center">Creer un nouveau résultat</h4>

	<div class="container-table">
		{{ include('result/_form.html.twig') }}
	</div>
{% endblock %}
