{% extends 'base.html.twig' %}

{% block title %}Editer un test
{% endblock %}

{% block body %}
	<h4 class="text-center">Editer un test</h4>

	<div class="container-table">
		{{ include('test/_form.html.twig') }}
	</div>
{% endblock %}
