{% extends 'base.html.twig' %}

{% block title %}Tests
{% endblock %}

{% block body %}
	<h4>
		<i class="fas fa-align-right me-3"></i>
		Liste des tests
	</h4>

	<div class="container-table">
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Echantillon</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for test in tests %}
					<tr>
						<td>{{ test.title }}</td>
						<td>
							{% if  test.sample %}
								{{  test.sample }}
								<a href="{{ path('app_sample_show', {'id': test.sample.id}) }}">
									<i class="fas fa-up-right-from-square ms-1"></i>
								</a>
							{% endif %}
						</td>
						<td>
							{% include '_partials/_partials_table_show.html.twig' with {
								'entity_type': 'test',
								'entity_id': test.id,
								'show_route': 'app_test_show'
							} %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas de test.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include "/_partials/_partials_knp_pagination_render.html.twig" with { 'render': tests } %}
	</div>
{% endblock %}
