{% extends 'base.html.twig' %}

{% block title %}Nouveau test
{% endblock %}

{% block body %}
	<h4 class="text-center">Créer un nouveau test</h4>

	<div class="container-table">
		{{ include('test/_form.html.twig') }}
	</div>
{% endblock %}
