{% extends 'base.html.twig' %}

{% block title %}Test
{% endblock %}

{% block body %}
	<h4 class="text-center">Test</h4>

	<div class="container-table">
		<p>
			{{ test.title }}
		</p>
		<p>
			{{ test.scenario }}
		</p>

		{% include '_partials/_partials_table_edit.html.twig' with {
			'entity_type': 'test',
			'entity_id': test.id,
			'edit_route': 'app_test_edit'
		} %}
	</div>
{% endblock %}
