{% extends 'base.html.twig' %}

{% block title %}Editer un projet
{% endblock %}

{% block body %}
	<h4 class="text-center">Editer un projet</h4>

	<div class="container-table">
		{{ include('project/_form.html.twig') }}
	</div>
{% endblock %}
