{% extends 'base.html.twig' %}

{% block title %}Editer un projet
{% endblock %}

{% block body %}
	<h1>Editer un projet</h1>

	{{ include('project/_form.html.twig') }}

	<a href="{{ path('app_project_index') }}">Retourner à la liste des projets</a>

	{{ include('project/_delete_form.html.twig') }}
{% endblock %}
