{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet
{% endblock %}

{% block body %}
	<h4 class="text-center">Créer un projet</h4>

	<div class="container-table">
		{{ include('project/_form.html.twig') }}
	</div>
{% endblock %}
